0b7d6e5a265d20715443e19a1f7609c6/log/*
0b7d6e5a265d20715443e19a1f7609c6/apiLog/*
ignore/*
material/uploadedFile/*
material/tempFile/*
predict/export/*
*.log
*.txt
*.json
*.dat
deploy/VERSION
deploy/DEPLOY
deploy/UPDATE_LIST-*